<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <h4>Về sàn Lốp</h4>
                <ul class="links">
                    <li><a href="" title="">Giới thiệu về SÀN LỐP</a></li>
                    <li><a href="" title="">Tuyển Dụng</a></li>
                    <li><a href="" title="">Quy chế hoạt động</a></li>
                    <li><a href="" title="">Chính sách bảo mật</a></li>
                    <li><a href="" title="">Trung tâm trợ giúp</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3">
                <h4>Dành cho Người mua</h4>
                <ul class="links">
                    <li><a href="" title="">Hướng dẫn mua hàng</a></li>
                    <li><a href="" title="">Hướng dẫn khiếu nại</a></li>
                    <li><a href="" title="">Chăm sóc khách hàng</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3">
                <h4>Dành cho Người bán</h4>
                <ul class="links">
                    <li><a href="" title="">Mở shop trên SÀN LỐP</a></li>
                    <li><a href="" title="">Hướng dẫn bán hàng</a></li>
                    <li><a href="" title="">Chính sách bán hàng</a></li>
                    <li><a href="" title="">Tiêu chí kiểm duyệt</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3">
                <h4>Phương thức Thanh toán</h4>
                <div class="pay flex">
                    <a href="" title="" class="visa">visa</a>
                    <a href="" title="" class="mastercard">mastercard</a>
                    <a href="" title="" class="discover">discover</a>
                    <a href="" title="" class="paypal">paypal</a>
                </div>
                <h4 class="mb-0">TẢi ứng dụng miễn phí</h4>
                <div class="download flex">
                    <div class="qrcode mr-4"><img src="./assets/img/qrcode.jpg" alt=""></div>
                    <div class="download_mobile">
                        <a href=""><i class="icon icon-ios"></i>App Store</a>
                        <a href=""><i class="icon icon-playstore"></i>Android</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright flex-between">
            <p>© 2020 BON BON SÀN LỐP. </p>
            <a href=""><img src="./assets/img/logoccdv.png" alt=""></a>
        </div>
    </div>
</footer>