<header class="bg-white">
    <div class="container">
        <div class="flex-lc">
            <a href="https://thuclfc.gitlab.io/bonbon/build/home.html" class="logo"><img src="./assets/img/logo2.png" alt=""></a>
            <div class="space"></div>
            <div class="txt">Đăng nhập tài khoản</div>
            <div class="dropdown favourite">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-favourite"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Danh sách yêu thích  (2 Sản phẩm)</h5>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/cart.html" class="btn_addcar flex-center">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="dropdown cart">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-cart"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Giỏ hàng (2 Sản phẩm)</h5>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <div class="amount flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1" readonly>
                            <a href="javascript:void(0)" class="add_amount">+</a>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <div class="amount flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1" readonly>
                            <a href="javascript:void(0)" class="add_amount">+</a>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/cart.html" class="btn_viewcar flex-center">Xem giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</header>