<header>
    <div class="topHeader">
        <div class="container">
            <div class="box-link flex">
                <a href="" title="">KÊNH NGƯỜI BÁN</a>
                <a href="#download" title="">Tải ứng dụng</a>
                <a href="" title="">Kết nối Facebook</a>
                <div class="box-notifi ml-auto pr">
                    <a href="javascript:;" class="notifi flex-center flex-nowrap"><i class="icon icon-notifi"></i>Thông báo</a>
                    <div class="notified">
                        <h4>Thông báo mới</h4>
                        <a href="javascript:;" class="close">X</a>
                        <div class="notified__list">
                            <article class="post flex">
                                <a href="" class="post__thumb"><img src="./assets/img/banner1.jpg" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="">Bình ổn giá - Chung tay mùa dịch</a></h3>
                                    <p>Có rất nhiều shop đã thực hiện tiếp thị liên kết vô cùng hiệu quả. Cùng ad nhìn lại ngày 8.8 của các bạn để thu thập bí kíp, sẵn sàng cho Ngày siêu mua sắm 9.9 nhé!</p>
                                </div>
                            </article>
                            <article class="post flex">
                                <a href="" class="post__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="">Bình ổn giá - Chung tay mùa dịch</a></h3>
                                    <p>Có rất nhiều shop đã thực hiện tiếp thị liên kết vô cùng hiệu quả. Cùng ad nhìn lại ngày 8.8 của các bạn để thu thập bí kíp, sẵn sàng cho Ngày siêu mua sắm 9.9 nhé!</p>
                                </div>
                            </article>
                        </div>
                        <a href="https://thuclfc.gitlab.io/bonbon/build/notification.html" class="btn_view">Xem tất cả</a>
                    </div>
                </div>
                <a href="https://thuclfc.gitlab.io/bonbon/build/gioi-thieu.html" title="">Trợ giúp</a>
                <div class="user flex flex-center">
                    <a href="https://thuclfc.gitlab.io/bonbon/build/register.html" title="">Đăng ký</a> <span class="space">/</span> <a href="https://thuclfc.gitlab.io/bonbon/build/login.html" title="">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
    <div class="btHeader">
        <div class="container flex">
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="https://thuclfc.gitlab.io/bonbon/build/home.html" class="logo"><img src="./assets/img/logo3.png" alt=""></a>
            <form action="" class="search pr">
                <input type="text" placeholder="Tìm kiếm từ khóa" required>
                <button type="button" class="btn_search" onclick="location.href='https://thuclfc.gitlab.io/bonbon/build/tim-kiem.html'"></button>
                <p>Gợi ý tìm kiếm: <a href="javascript:;">Lốp Genius</a>, <a href="javascript:;">GrightStone</a>. <a href="javascript:;">Turanza</a>..</p>
            </form>
            <div class="dropdown favourite">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-favourite"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Danh sách yêu thích  (2 Sản phẩm)</h5>
                    <div class="product_list">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_like">Xóa</a>
                        </div>
                    </div>
                    <a href="" class="btn_addcar flex-center">Thêm vào giỏ hàng</a>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/yeu-thich.html" class="btn_view flex-center">Xem tất cả</a>
                </div>
            </div>
            <div class="dropdown cart">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-cart"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Giỏ hàng (2 Sản phẩm)</h5>
                    <div class="product_list">
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                        <div class="product flex">
                            <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                            <div class="product__detail">
                                <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                                <span>Phân loại: Một Lốp</span>
                                <div class="price">10.800.000đ</div>
                            </div>
                            <div class="amount flex">
                                <a href="javascript:void(0)" class="redu_amount">-</a>
                                <input type="number" value="1">
                                <a href="javascript:void(0)" class="add_amount">+</a>
                            </div>
                            <a href="javascript:;" class="btn_remove" data-toggle="modal" data-target="#modal_notifi_dl_cart">Xóa</a>
                        </div>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/cart.html" class="btn_viewcar flex-center">Xem giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-popup"></div>
</header>
<div class="modal fade modal_notifi" id="modal_notifi_dl_cart">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
            <div class="notifi">
                <img src="./assets/img/icon-removecart.png" alt="">
                <p style="color:#f57c00;">Bạn có chắc muốn xóa sản phẩm này?</p>
                <div class="box-btn flex-center">
                    <a href="javascript:;" class="btn_ty4">Đồng ý</a>
                    <a href="javascript:;" class="btn_ty3"  class="close" data-dismiss="modal">Không</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal_notifi" id="modal_notifi_dl_like">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="javascript:;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
            <div class="notifi">
                <img src="./assets/img/icon-removecart.png" alt="">
                <p>Xóa sản phẩm thành công</p>
            </div>
        </div>
    </div>
</div>