<header>
    <div class="topHeader">
        <div class="container">
            <div class="flex">
                <div class="box-link flex">
                    <a href="" title="">KÊNH NGƯỜI BÁN</a>
                    <a href="" title="">Tải ứng dụng</a>
                    <a href="" title="">Kết nối Facebook</a>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/notification.html" class="notifi flex-center flex-nowrap"><i class="icon icon-notifi"></i>Thông báo</a>
                    <a href="" title="">Trợ giúp</a>
                    <div class="user flex flex-center">
                        <a href="https://thuclfc.gitlab.io/bonbon/build/login.html" title="">Đăng ký</a> <span class="space">/</span> <a href="https://thuclfc.gitlab.io/bonbon/build/register.html" title="">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btHeader">
        <div class="container flex">
            <a href="https://thuclfc.gitlab.io/bonbon/build/home.html" class="logo"><img src="./assets/img/logo3.png" alt=""></a>
            <form action="" class="search pr">
                <input type="text" placeholder="Tìm kiếm từ khóa" required>
                <button type="button" class="btn_search"></button>
                <p>Gợi ý tìm kiếm: <span>Lốp Genius</span>, <span>GrightStone</span>. <span>Turanza</span>..</p>
            </form>
            <div class="dropdown favourite">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-favourite"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Danh sách yêu thích  (2 Sản phẩm)</h5>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/cart.html" class="btn_addcar flex-center">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="dropdown cart">
                <button class="btn dropdown-toggle" type="button">
                    <i class="icon icon-cart"></i>
                    <span>17</span>
                </button>
                <div class="dropdown-content">
                    <h5>Giỏ hàng (2 Sản phẩm)</h5>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <div class="amount flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1" readonly>
                            <a href="javascript:void(0)" class="add_amount">+</a>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <div class="product flex">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstoe Turanza Êm ái dành cho xe 14 chỗ</a></h3>
                            <span>Phân loại: Một Lốp</span>
                            <div class="price">10.800.000đ</div>
                        </div>
                        <div class="amount flex">
                            <a href="javascript:void(0)" class="redu_amount">-</a>
                            <input type="number" value="1" readonly>
                            <a href="javascript:void(0)" class="add_amount">+</a>
                        </div>
                        <a href="" class="btn_remove">Xóa</a>
                    </div>
                    <a href="https://thuclfc.gitlab.io/bonbon/build/cart.html" class="btn_viewcar flex-center">Xem giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</header>