<main>
    <div class="box-breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tài khoản</li>
        </ul>
    </div>
    <div class="profile container">
        <div class="profile__banner">
            <img src="./assets/img/banner-profile.jpg" alt="">
        </div>
        <div class="row">
            <div class="col-lg-3">
                {% include "../share/profile-nav.html" %}
            </div>
            <div class="col-lg-9">
                <h2>Thông tin tài khoản</h2>
                <div class="profile__detail">
                    <form action="">
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="username" name="" value="Jusstires_01" readonly>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="" value="Demo-email@Mail.com">
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="number" name="" value="0965999956">
                        </div>
                        <div class="form-group">
                            <label>Tên Shop</label>
                            <input type="text" name="" value="Demo-email@Mail.com">
                        </div>
                        <div class="form-group">
                            <label>Giới tính</label>
                            <div class="flex-lc">
                                <label class="checkbox">
                                    <input type="radio" name="sex">
                                    <span class="checked"></span>
                                    Nam
                                </label>
                                <label class="checkbox">
                                    <input type="radio" name="sex">
                                    <span class="checked"></span>
                                    Nữ
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input type="text" name="" value="28/3/1985">
                        </div>
                        <div class="form-group">
                            <label>Ảnh đại diện</label>
                            <input type="file" name="" value="Tải lên">
                            <div class="img-wrapper img-avatar"><img src="./assets/img/logo-shop.png" alt=""></div>
                        </div>
                        <div class="form-group">
                            <label>Ảnh bìa</label>
                            <input type="file" name="" value="Tải lên">
                            <div class="img-wrapper img-cover"><img src="./assets/img/banner-profile.jpg" alt=""></div>
                        </div>
                        <div class="form-action flex">
                            <button type="button" class="btn_ty4">Hủy</button>
                            <button type="button" class="btn_ty3">Lưu thông tin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>