<main>
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm cho Ô tô</li>
        </ul>
        <div class="row">
            <div class="col-lg-3">
                <div class="filter">
                    <h2 class="flex-lc"><i class="icon icon-filter"></i> Bộ lọc tìm kiếm</h2>
                    <div class="filter__item filter__item--category">
                        <h4>Danh mục sản phẩm</h4>
                        <ul class="filter__list">
                            <li>
                                <h5>Sản phẩm giảm giá</h5>
                            </li>
                            <li>
                                <h5>Sản phẩm bán chạy</h5>
                            </li>
                            <li class="active">
                                <h5>Sản phẩm cho Ô tô</h5>
                                <ul class="filter__sub">
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>Lốp xe hơi</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>Lốp Xe Khách, Bus</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>Lốp xe tải</span>
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox">
                                            <span>Lốp xe khác</span>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h5>Sản phẩm cho Xe máy</h5>
                            </li>
                            <li>
                                <h5>Sản phẩm cho Xe đạp</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="filter__item filter__item--brand">
                        <h4>Nhãn hiệu</h4>
                        <form action="">
                            <input type="text" placeholder="Tìm kiếm">
                        </form>
                        <div class="filter__list">
                            <label>
                                <input type="checkbox">
                                <span>Bridgestone</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Michelin</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Kumho</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Nutricost</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Nature’s way</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Mammoth</span>
                            </label>
                        </div>
                        <a href="" class="viewmore">HIển thị tất cả</a>
                    </div>
                    <div class="filter__item filter__item--size">
                        <h4>Kích thước sản phẩm</h4>
                        <div class="filter__list">
                            <label>
                                <input type="checkbox">
                                <span>Kích thước 1</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Kích thước 2</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Kích thước 3</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Size 2</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Size 4</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Size 6</span>
                            </label>
                        </div>
                        <a href="" class="viewmore">HIển thị tất cả</a>
                    </div>
                    <div class="filter__item">
                        <h4>Nơi bán</h4>
                        <div class="filter__list">
                            <label>
                                <input type="checkbox">
                                <span>Hà Nội</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Đà Nẵng</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Cần Thơ</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter__item filter__item--price">
                        <h4>Khoảng giá</h4>
                        <div class="flex">

                        </div>
                    </div>
                    <div class="filter__item">
                        <h4>Xuất xứ</h4>
                        <div class="filter__list">
                            <label>
                                <input type="checkbox">
                                <span>Mỹ</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Anh</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>NHập khẩu chính hãng</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter__item">
                        <h4>Đánh giá</h4>
                        <div class="filter__list">
                            <label>
                                <input type="checkbox">
                                <span class="rating"><span class="rating__value" style="width: 100%"></span></span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span class="rating"><span class="rating__value" style="width: 80%"></span></span>
                                <span>trở lên</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span class="rating"><span class="rating__value" style="width: 60%"></span></span>
                                <span>trở lên</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span class="rating"><span class="rating__value" style="width: 40%"></span></span>
                                <span>trở lên</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span class="rating"><span class="rating__value" style="width: 20%"></span></span>
                                <span>trở lên</span>
                            </label>
                        </div>
                    </div>
                    <div class="filter__item">
                        <h4>Dịch vụ và KHuyến mại</h4>
                        <div class="filter__list">
                            <label>
                                <input type="checkbox">
                                <span>Đang giảm giá</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Hàng sẵn có</span>
                            </label>
                            <label>
                                <input type="checkbox">
                                <span>Mua bán giá buôn/bán sỉ</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>