<main>
    <div class="container">
        <div class="box-product product-list product-flashsale mt-30">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header">
                        <div class="rw1 flex-lc">
                            <h2>Gợi ý hôm nay</h2>
                            <time class="flex-lc"><i class="icon icon-hot"></i>Đại tiệc 09.09</time>
                        </div>
                        <div class="rw2 flex-lc">
                            <div class="sort flex-lc">
                                <h5>Sắp xếp theo</h5>
                                <button type="button" class="btn_sort active">Mới nhất</button>
                                <button type="button" class="btn_sort">Bán chạy</button>
                                <select name="">
                                    <option>Giá</option>
                                    <option>500.000 - 2.000.000</option>
                                </select>
                            </div>
                            <div class="nav flex-lc ml-auto">
                                <div class="nav__page"><span>2</span>/8</div>
                                <div class="nav__btn flex">
                                    <button type="button" class="btn_prev"></button>
                                    <button type="button" class="btn_next"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb6.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb7.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">Lốp xe Brightstone Turanza T005A</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb5.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">[Hỗ trợ ship] Lốp xe Brightstone Turanza T005A</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="product">
                        <a href="" class="product__thumb"><img src="./assets/img/thumb6.jpg" alt=""></a>
                        <div class="product__detail">
                            <h3><a href="">COMBO 2 lốp xe Brightstone Turanza T005A hàng chuẩn</a></h3>
                            <div class="middle flex-lc">
                                <div class="rating"><div class="rating__value"></div></div>
                                <span>Đã bán 25</span>
                            </div>
                            <div class="price flex-lc">đ <span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-prev"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="icon icon-next"></i></a></li>
            </ul>
        </div>
    </div>
</main>