<main>
    <div class="profile container">
        <div class="profile__banner">
            <img src="./assets/img/banner-profile.jpg" alt="">
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                {% include "../share/profile-nav.html" %}
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="box-order">
                    <a href="javascript:;" class="btn_back" onclick="history.go(-1)">Quay lại</a>
                    <div class="order-process">
                        <div class="head flex-lc">
                            <div>Đơn hàng <span>#55966696</span></div>
                            <div class="status">Chờ lấy hàng</div>
                        </div>
                        <ul class="process flex">
                            <li class="active">
                                <div class="box-icon flex-center">
                                    <i class="icon icon-1"></i>
                                </div>
                                <p>Xác nhận <br> đơn hàng</p>
                            </li>
                            <li class="pending">
                                <div class="box-icon flex-center">
                                    <i class="icon icon-2"></i>
                                </div>
                                <p>Chờ lấy <br> hàng</p>
                            </li>
                            <li class="">
                                <div class="box-icon flex-center">
                                    <i class="icon icon-3"></i>
                                </div>
                                <p>Đang giao hàng</p>
                            </li>
                            <li class="">
                                <div class="box-icon flex-center">
                                    <i class="icon icon-4"></i>
                                </div>
                                <p>Đã giao <br> thành công</p>
                            </li>
                        </ul>
                        <div class="box-info flex">
                            <div class="col-left">
                                <h4>Người nhận</h4>
                                <div class="info">
                                    <strong>Quỳnh Như</strong>
                                    <p>0964 995 xxxx</p>
                                    <p>74 doãn kế thiện, Phường Mai Dịch, Quận Cầu Giấy, Hà Nội</p>
                                </div>
                            </div>
                            <div class="col-right">
                                <h4>Lịch sử đơn</h4>
                                <div class="history">
                                    <p class="active"><time>17:35 23-05-2018</time> Lưu kho</p>
                                    <p><time>06:37 23-05-2018</time> Đang lấy hàng</p>
                                    <p><time>13:41 19-05-2018</time> Thông tin đơn hàng đã gửi tới Người bán</p>
                                    <p><time>13:41 19-05-2018</time> Đã tạo Đơn hàng</p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom flex-lc">
                            <div class="txt">
                                Người bán đã gửi hàng. <br>
                                Bạn sẽ nhận được sản phẩm dự kiến vào 07-09-2020.
                            </div>
                            <a href="" class="btn_cancel btn_ty4 ml-auto">Hủy đơn</a>
                        </div>
                    </div>
                    <div class="order">
                        <div class="order__header flex-lc">
                            <div class="flex-lc">
                                <img src="./assets/img/logo-shop.png" class="avt" alt="">
                                <strong>Maxxis Authentic</strong>
                                <a href="" class="btn_contact">Liên hệ</a>
                            </div>
                            <div class="id ml-auto">ID Đơn hàng <span>#4859215</span></div>
                        </div>
                        <div class="order__list">
                            <div class="item flex-lc">
                                <div class="product flex">
                                    <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                    <div class="product__content">
                                        <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                        <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                    </div>
                                </div>
                                <div class="price ml-auto">
                                    <span>10 x</span>
                                    1.800.000đ
                                </div>
                            </div>
                            <div class="item flex-lc">
                                <div class="product flex">
                                    <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                                    <div class="product__content">
                                        <h3><a href="">Lốp Xe 4 chỗ thương hiệu MICHELLI</a></h3>
                                        <p>Loại: Lốp 11 Inch - Hoa gai A10</p>
                                    </div>
                                </div>
                                <div class="price ml-auto">
                                    <span>10 x</span>
                                    1.800.000đ
                                </div>
                            </div>
                        </div>
                        <div class="order__summary">
                            <div class="flex-between">
                                <p><i class="icon icon-voucher"></i>Mã giảm giá của shop</p>
                                <span>D24599 (85.000đ)</span>
                            </div>
                            <div class="flex-between">
                                <p><i class="icon icon-voucher"></i>Mã giảm giá của sàn</p>
                                <span>D24599 (15.000đ)</span>
                            </div>
                            <div class="flex-between">
                                <p>Đại lý vận chuyển</p>
                                <span>16.000đ</span>
                            </div>
                            <div class="flex-between">
                                <p>Tổng tiền hàng</p>
                                <span>16.000đ</span>
                            </div>
                        </div>
                        <div class="order__bottom flex-lc">
                            <div class="total ml-auto">Tổng số tiền: <span>216.000.000 đ</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>