<main>
    <div class="product_related">
        <div class="container flex-lc">
            <h2>Sản phẩm tương tự</h2>
            <div class="product_related_list">
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb1.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb2.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb3.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
                <div class="product flex">
                    <a href="" class="product__thumb"><img src="./assets/img/thumb4.jpg" alt=""></a>
                    <div class="product__detail">
                        <h3><a href="">Lốp xe Brightstone Turanza</a></h3>
                        <div class="price"><span class="price__new">399.000</span>  <span class="price__old">599.000</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="product_detail flex">
            <div class="col-left flex">
                <div class="list_img">
                    <div class="img"><a href="./assets/img/thumb1.jpg"><img src="./assets/img/thumb1.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/thumb2.jpg"><img src="./assets/img/thumb2.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/thumb3.jpg"><img src="./assets/img/thumb3.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/thumb4.jpg"><img src="./assets/img/thumb4.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/thumb5.jpg"><img src="./assets/img/thumb5.jpg" alt=""></a></div>
                    <div class="img"><a href="./assets/img/thumb6.jpg"><img src="./assets/img/thumb6.jpg" alt=""></a></div>
                </div>
                <div class="imglarge-product flex-center">
                    <img src="./assets/img/img-pr.jpg" alt="">
                </div>
                <div class="box-share flex-lc">
                    <h4>Chia sẻ</h4>
                    <ul class="share flex">
                        <li><a href="" title="" class="share__ms">messager</a></li>
                        <li><a href="" title="" class="share__face">facebook</a></li>
                        <li><a href="" title="" class="share__g">google</a></li>
                        <li><a href="" title="" class="share__p">print</a></li>
                        <li><a href="" title="" class="share__in">instagram</a></li>
                    </ul>
                    <div class="like flex-center ml-auto">
                        <i class="icon icon-like"></i>
                        23 đã thích
                    </div>
                </div>
            </div>
            <div class="col-right">
                <div class="product_info">
                    <h2>Lốp xe MICHELIN PILOT SPORT 4 SUV - Tuyệt phẩm êm mái dành cho xế yêu </h2>
                    <div class="flex-lc">
                        <div class="rating"><div class="rating__value"></div></div>
                        <div class="rating_amount flex-lc"><span class="flex-center">21</span> Đánh giá</div>
                        <div class="selled">Đã bán 20</div>
                    </div>
                    <br>
                    <div class="flex">
                        <p>Thương hiệu: <b>Michelin</b></p>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <p>SKU: 3356786567310</p>
                    </div>
                    <div class="price flex">
                        <div class="price__new">đ <span>4.950.000 - 8.120.000</span></div>
                        <div class="price__old">4.950.000 - 10.590.000</div>
                        <p>Giá bán sỉ từ >10sp trở lên  </p>
                    </div>
                    <div class="transport">
                        <div class="transport__head flex-lc">
                            Vận chuyển:
                            <div class="transport__icon"><img src="./assets/img/icon-tt.png" alt=""></div>
                            <span class="transport__type">Miễn phí vận chuyển</span>
                        </div>
                        <div class="transport__detail">
                            <p>Vận chuyển tới: <span>Quận Nam Từ Liêm, Hà Nội</span></p>
                            <p>Phí vận chuyển: <span>đ 15.000 - đ 26.000</span></p>
                        </div>
                    </div>
                    <div class="type flex-lc">
                        <h4>Loại Lốp: </h4>
                        <ul class="type__list flex">
                            <li><span>Lốp không xăm</span></li>
                            <li><span>Lốp bố Vải</span></li>
                        </ul>
                    </div>
                    <div class="select">
                        <h4>Kích thước</h4>
                        <div class="select__list flex">
                            <label>
                                <input type="radio" name="size">
                                11 Inches
                            </label>
                            <label>
                                <input type="radio" name="size">
                                13 Inches
                            </label>
                            <label>
                                <input type="radio" name="size">
                                15 Inches
                            </label>
                            <label>
                                <input type="radio" name="size">
                                17 Inches
                            </label>
                        </div>
                    </div>
                    <div class="select">
                        <h4>Hoa Gai</h4>
                        <div class="select__list flex">
                            <label>
                                <input type="radio" name="st">
                                Demo hoa gai 1
                            </label>
                            <label>
                                <input type="radio" name="st">
                                Demo hoa gai 2
                            </label>
                            <label>
                                <input type="radio" name="st">
                                Demo hoa gai 3
                            </label>
                            <label>
                                <input type="radio" name="st">
                                hoa gai 4
                            </label>
                        </div>
                        <div class="select__list flex">
                            <label>
                                <input type="radio" name="st">
                                Demo hoa gai 1
                            </label>
                            <label>
                                <input type="radio" name="st">
                                Demo hoa gai 2
                            </label>
                            <label>
                                <input type="radio" name="st">
                                Demo hoa gai 3
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>