<main>
    <div class="register">
        <div class="container flex-lc flex-between">
            <div class="intro">
                <a href="" class="logo"><img src="./assets/img/logo1.png" alt=""></a>
                <p>Sàn Lốp lớn nhất Việt Nam</p>
                <p>Đảm bảo chất lượng hàng đầu tới mỗi khách hàng</p>
            </div>
            <form method="" action="">
                <h4>Đăng ký tài khoản</h4>
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="number" name="phone" class="phone" placeholder="0965 999 663">
                    <button type="button" class="btn_send_otp">GỬI MÃ OTP</button>
                </div>
                <div class="form-group">
                    <label>MÃ OPT</label>
                    <input type="number" name="otp" placeholder="8 6 7 2">
                </div>
                <fieldset>
                    <h5>Tạo mật khẩu</h5>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" name="password" placeholder="*******">
                    </div>
                    <div class="form-group">
                        <label>Nhập lại Mật khẩu</label>
                        <input type="password" name="re-password" placeholder="*******">
                    </div>
                </fieldset>
                <div class="form-action flex-lc">
                    <a href="" title="" class="btn_login">Quay lại đăng nhập</a>
                    <a href="" class="btn_submit btn_ty3 flex-center">Đăng ký</a>
                </div>
            </form>
        </div>
    </div>
</main>