<main>
    <div class="voucher-detail">
        <div class="voucher flex pr">
            <div class="voucher__code flex-center">
                <span>GHO889662</span>
                <span>Giảm 20%</span>
            </div>
            <div class="voucher__content flex">
                <p>Giảm 70% tối đa 35.000đ vào 11h sáng hàng ngày. Áp dụng 1 số cửa hàng nhất định. HSD 30/08/2020</p>
            </div>
        </div>
        <article>
            <p><strong>Ưu đãi: Mã giảm giá |</strong> Tất cả hình thức thanh toán</p>
            <p><strong>Hiệu lực:</strong> 19.08.2020 00:00 - 31.08.2020 23:59</p>
            <p><strong>Thiết bị:</strong> Tất cả các thiết bị, phiên bản website</p>
            <p><strong>Thanh Toán:</strong> Tất cả các hình thức thanh toán</p>
            <br>
            <p><strong>Chi tiết:</strong> Sử dụng mã miễn phí vận chuyển cho sản phẩm thuộc gian hàng thương mại Chợ đêm tôi yêu.</p>
            <p>Đơn vị vận chuyển khả dụng: Viettel Post, Vietnam Post, J&T Express, Ninja Van</p>
            <p>Hình thức thanh toán: tất cả Mã chỉ được hoàn theo quy định. Hạn sử dụng: 19/08/2020 00:00 đến 31/08/2020 23:59.</p>
        </article>
        <div class="box-btn">
            <a href="" title="Sử dụng ngay" class="btn_ty3 flex-center">Sử dụng ngay</a>
        </div>
    </div>
</main>