body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #111111;
  line-height: 1.4;
  &.home{background: #f2f2f4;}
}
header{
  background: #f57d20;
  .box-link{
    >*+*{margin-left: 30px;}
    a{color: #f2f2f4; line-height: 30px; font-size: 13px;}
    a:hover{color: #fff;}
    .icon-notifi{width: 11px; height: 12px; background-position: -28px -132px; margin-right: 5px;}
  }
  .user{
    color: #f2f2f4;
    .space{padding: 0 5px;}
  }
}
.topHeader{
  width: 100%;
  height: 30px;
  background: #e9771e;
}
.btHeader{
  padding-top: 26px;
  align-items: flex-start;
  .search{
    width: 100%; max-width: 670px;
    margin: 4px 55px 0 70px;
    padding: 0 0 13px;
    input{
      width: 100%; height: 40px; padding: 0 19px;
      background: #fff; border-radius: 4px; border: none;
      font-size: 14px; color: #111;
      &::placeholder{color: #111;}
    }
    input:focus{outline: none;}
    p{display: block; margin: 11px 0 0; font-size: 14px; line-height: 16px; color: #f2f2f4;}
    p span{border-bottom: 1px solid;}
  }
  .btn_search{
    width: 22px; height: 22px;
    background: url("#{$img-path}/icon-search.png") no-repeat 0 0/contain;
    position: absolute; right: 10px; top: 10px;
  }
  .dropdown{margin-top: 4px;}
  .dropdown-toggle{
    padding: 0;
    span{
      width: 32px; height: 20px;
      background: #fff; border-radius: 10px;
      font-size: 12px; font-weight: 700; color: #111; line-height: 20px;
      position: absolute; top: 0; right: -7px;
    }
    .icon-favourite,.icon-cart{height: 38px; display: block;}
    .icon-favourite{width: 43px; background: url("#{$img-path}/icon-heart.png") no-repeat 0 0/contain;}
    .icon-cart{width: 44px; background: url("#{$img-path}/icon-cart.png") no-repeat 0 0/contain;}
    &::after{display: none;}
    &:focus{box-shadow: none;}
  }
  .cart{margin-left: 76px;}
}
//main
.st1{margin: 25px 0 15px;}
.category{
  width: 100%;
  max-width: 290px;
  padding: 15px 20px;
  background: #fff;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  h4{
    display: flex; align-items: center; margin-bottom: 22px;
    font-size: 15px; font-weight: 600; text-transform: uppercase; color: #ff610b;
  }
  .icon-category{width: 24px; height: 26px; margin-right: 7px; background-position: 0 0;}
  &__list{
    >*+*{margin-top: 28px;}
    a{display: flex; align-items: center; background: url("#{$img-path}/icon-arr.png") no-repeat right center;}
    .icon{width: 24px; height: 24px; margin-right: 13px;}
    .icon-sale{background-position: -1px -26px;}
    .icon-hot{background-position: -1px -53px;}
    .icon-oto{height: 18px; background-position: -1px -80px;}
    .icon-moto{background-position: -2px -100px;}
    .icon-bike{height: 16px; background-position: -2px -130px;}
  }
}
.slider-sale{width: 100%; max-width: 870px;}
.banner{
  margin-bottom: 30px;
  >*+*{margin-left: 15px;}
  a{display: block; width: 380px; height: 145px;}
  img{width: 100%; height: 100%; object-fit: cover;}
}
.flashsale{
  margin-bottom: 30px;
  &__header{
    background: #fff;
    padding: 20px 20px 17px;
    h2{display: block; width: 101px; height: 53px; background: url("#{$img-path}/flashsale.png") no-repeat; text-indent: -9999em;}
  }
  &__time{margin-left: 15px;}
  &__product{
    .product:hover{box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2); position: relative; z-index: 9;}
  }
  .slick-list{padding-bottom: 10px;}
  .slick-arrow{top: 132px; transform: translateY(0);}
}
.count_down{
  >*+*{margin-left: 8px;}
  .down{
    width: 30px; height: 30px; display: flex;
    align-items: center; justify-content: center;
    border-radius: 4px;
    background: #3e10a5;
    color: #fff;
    text-align: center;
  }
  .time{font-weight: 700;}
}
.box-product{
  .header{
    margin-bottom: 30px;
    padding: 20px; background: #fff;
    box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
    h2{font-size: 15px; font-weight: 600; color: #f57d20; text-transform: uppercase;}
    h2::after{
      content: "";
      width: 30px;
      height: 2px;
      display: block; margin: 4px auto 0;
      background-color: #ffaf71;
    }
    time{margin-left: 46px; font-size: 15px; font-weight: 600; text-transform: uppercase;}
    .icon-hot{width: 30px; height: 30px; display: block; margin-right: 8px; background: url("#{$img-path}/icon-hot.png") no-repeat;}
  }
}
.product-list{
  .product{
    margin-bottom: 30px;
    &__detail{padding: 12px 9px 15px; box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);}
  }
}
.product_related{
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  h2{margin-right: 135px; font-size: 18px; color: #333;}
  &_list{width: 845px;}
  .slick-slide{display: flex !important;}
  .product{
    padding: 15px 10px;
    margin: 0 4px;
    background: #e8e7f4;
    h3{min-height: auto; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 14px;}
    &:nth-child(2){background: #ffebd9;}
    &:nth-child(3){background: #d3edf0;}
    &__thumb{width: 50px; height: 50px; padding-bottom: 0;}
    &__detail{width: calc(100% - 50px); padding: 0 0 0 12px; background: none;}
    .price{
      &__new{margin-left: 0; font-size: 14px;}
      &__old{margin-left: 4px; font-size: 12px; color: #333;}
    }
  }
  .slick-arrow{
    width: 35px;
    height: 80px;
    background: #f2f2f4 url("#{$img-path}/icon-arr1.png") no-repeat center center;
    box-shadow: none;
    &::after{display: none;}
  }
  .slick-prev{left: -42px;}
  .slick-next{right: -42px; transform: translateY(-50%) rotateY(180deg);}
}
.product{
  &__thumb{
    display: block; position: relative; padding-bottom: 100%;
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
  }
  &__detail{padding: 7px 9px; background: #fff;}
  h3{min-height: 48px; font-size: 15px; line-height: 24px;}
  .price{
    color: #e70101;
    &__new{margin-left: 4px; font-weight: 700; font-size: 16px;}
    &__old{margin-left: 8px; color: #999; text-decoration: line-through;}
  }
  .selled{
    margin-top: 10px;
    padding-bottom: 26px;
    h5{margin-bottom: 4px; font-size: 14px; color: #7520ce;}
  }
  .process{
    width: 100%; height: 6px;
    background: #f2f2f4; border-radius: 3px;
    position: relative;
    &__value{width: 50%; height: 100%; background: #7520ce; border-radius: 3px; position: absolute; top: 0; left: 0;}
  }
  .rating{
    width: 65px; height: 13px;
    background: url("#{$img-path}/star1.png") repeat;
    position: relative;
    &__value{
      width: 80%; height: 100%;
      background: url("#{$img-path}/star.png") repeat;
      position: absolute; top: 0; left: 0;
    }
  }
  .middle{
    margin: 6px 0 15px;
    span{margin-left: 7px; font-size: 13px; color: #999; line-height: 1;}
  }
}
.trend{
  .header{padding: 25px 20px; background: #fff;}
  .item{
    display: flex !important; padding: 20px; align-items: flex-end;
    background: #fff;
    border-top: 1px solid #f3f3f5; border-right: 1px solid #f3f3f5;
    &:hover{box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2); position: relative; z-index: 9;}
  }
  .slick-list{padding-bottom: 10px;}
  h2{font-size: 15px; font-weight: 600; text-transform: uppercase;}
  h3{margin-bottom: 12px; font-size: 15px; line-height: 21px;}
  .thumb{width: 80px; height: 80px; display: block;}
  .content{width: calc(100% - 80px); padding-left: 10px;}
  img{width: 100%; height: 100%; object-fit: cover;}
  span{font-size: 13px; color: #ee2c3c;}
}
.product_detail{
  margin-top: 48px;
  padding: 10px;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  .col-left{max-width: 560px;}
  .col-right{width: calc(100% - 560px); padding: 35px 20px 0 30px;}
  .list_img{
    width: 80px;
    img{width: 80px; height: 80px; object-fit: cover;}
    .slick-slide{padding: 4px 0;}
  }
  .slick-current img{border: 2px solid #f57d20;}
  .slick-arrow{
    width: 80px; height: 20px;
    display: flex !important;
    background: #f2f2f4; position: relative; top: 0; transform: translateY(0); box-shadow: none;
    &.slick-disabled{display: none !important;}
  }
  .slick-next{
    margin-top: 4px;
    &::after{transform: rotate(-90deg);}
  }
  .slick-prev{
    margin-bottom: 4px;
    &::after{transform: rotate(90deg);}
  }
  .imglarge-product{
    width: 470px;
    padding: 10px;
    margin-left: 10px;
  }
  .box-share{
    width: 100%; height: 50px;
    margin-top: 20px; padding: 0 18px;
    background: #f6f7f8;
    h4{font-size: 14px;}
    .share{
      margin-left: 16px;
      >*+*{margin-left: 10px;}
      a{width: 28px; height: 28px; display: block; text-indent: -9999em;}
      &__ms{background: url("#{$img-path}/social.png") no-repeat 0 0;}
      &__face{background: url("#{$img-path}/social.png") no-repeat -38px 0;}
      &__g{background: url("#{$img-path}/social.png") no-repeat -76px 0;}
      &__p{background: url("#{$img-path}/social.png") no-repeat -114px 0;}
      &__in{background: url("#{$img-path}/social.png") no-repeat -152px 0;}
    }
    .icon-like{width: 19px; height: 16px; background-position: -30px -48px; margin-right: 7px;}
  }
}
.product_info{
  h2{margin-bottom: 20px; font-size: 22px; line-height: 36px;}
  h4{font-size: 14px;}
  .rating{
    width: 97px; height: 18px;
    background: url("#{$img-path}/star2.png") repeat;
    position: relative;
    &__value{width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
  }
  .rating_amount{
    margin: 0 11px 0 3px;
    span{
      width: 30px;
      height: 24px;
      margin-right: 7px;
      border-radius: 4px;
      background-color: #fed857;
    }
  }
  .selled{background: #f2f2f4; border-radius: 4px; padding: 2.5px 12px;}
  .price{
    background: #f6f7f8;
    margin-top: 16px;
    padding: 11px 19px;
    p{width: 100%; margin-top: 5px;}
    &__new{
      color: #ee2c3c; font-size: 12px;
      span{font-size: 20px; font-weight: 600;}
    }
    &__old{
      display: flex;
      align-items: flex-end;
      margin-bottom: 5px;
      margin-left: 9px; font-size: 14px; font-weight: 600; color: #666666; text-decoration: line-through;
    }
  }
  .transport{
    margin-top: 20px;
    &__icon{margin: 0 12px;}
    &__type{
      background: #00a14d;
      padding: 2px 13px;
      border-radius: 4px;
      color: #fff; font-size: 13px; font-weight: 700;
    }
    &__detail{
      margin-top: 15px;
      padding-left: 90px;
      p{margin-bottom: 10px;}
      span{margin-left: 18px;}
    }
  }
  .type{
    margin-top: 25px;
    h4{width: 90px;}
    &__list{
      >*+*{margin-left: 10px;}
      span{background: #feecde; border-radius: 4px; padding: 3px 16px;}
    }
  }
  .select{
    margin-top: 30px;
    h4{ margin-bottom: 10px;}
    &__list{
      >*+*{margin-left: 10px;}
    }
    label{
      margin-bottom: 10px;
      padding: 7px 14px;
      position: relative;
      border-radius: 4px;
      border: solid 1px #cccccc;
      background: #f6f7f8; cursor: pointer;
      input{opacity: 0; position: absolute;}
      &.active{background: #feecde; border-color: #f57d20; color: #f57d20;}
    }
  }
  .amount{

  }
}

//footer
footer{
  margin-top: 68px;
  background: #fff;
  padding-top: 62px;
  border-top: 3px solid #ee2c3c;
  h4{margin-bottom: 33px; text-transform: uppercase; font-size: 14px; font-weight: 600;}
  .links{
    >*+*{margin-top: 15px;}
    a{color: #111;}
  }
  .pay{
    margin-bottom: 26px;
    >*+*{margin-left: 10px;}
    a{display: block; width: 50px; height: 30px; background: url("#{$img-path}/pay.png") no-repeat 0 0; text-indent: -9999em;}
    .visa{background-position: 0 0;}
    .mastercard{background-position: -60px 0;}
    .discover{background-position: -120px 0;}
    .paypal{background-position: -180px 0;}
  }
  .download{
    margin-top: 16px;
    align-items: center;

    a{display: flex; align-items: center; padding: 10px 0; text-transform: uppercase;}
    .icon{width: 18px; height: 20px; margin-right: 9px;}
    .icon-ios{background-position: -31px -24px;}
    .icon-playstore{background-position: -32px 0;}
  }
  .copyright{
    align-items: center;
    padding: 13px 0;
    margin-top: 54px;
    border-top: 1px solid #e4e4e4;
    p{margin-bottom: 0; text-transform: uppercase;}
  }
}

@media (min-width: 768px) and (max-width: 1200px) {

}

//uikit
.mt-30{margin-top: 30px;}
.pr{position: relative;}
.container{max-width: 1200px;}
.icon{background: url("#{$img-path}/icons.png") no-repeat 0 0;}
a:hover{text-decoration: none;}
a{color: #111;}
.viewmore{
  color: #f57d20;
  &:hover{text-decoration: underline;}
}
.btn_viewmore{
  width: 370px;
  height: 50px;
  margin: 30px auto 0;
  box-shadow: 0px 2px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}
button{
  background: none; border: none; cursor: pointer;
  &:focus{outline: none;}
}
.slick-arrow{
  width: 36px; height: 40px;
  background: #fff; border: none;
  display: flex; align-items: center; justify-content: center;
  font-size: 0;
  position: absolute; top: 50%; transform: translateY(-50%);
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
  &::after{
    content: "";
    width: 6px; height: 12px;
    display: block;
    background: url("#{$img-path}/icons.png") no-repeat -12px -150px;
  }
}
.slick-next{
  right: 0;
  &::after{transform: rotate(180deg);}
}
.slick-slide{
  &:focus,a:focus{outline: none;}
}

//js animation
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
